/* Footer Container */
.footer {
    width: 100%;
    background: linear-gradient(to right, #010303, #22443c);
    color: #ffffff;
    margin: 0;
    box-sizing: border-box;


}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0;
    position: relative;
    margin: 0 auto;
}

.footer-grid__item {
    padding: 0;
    margin: 1rem;
}

.footer-grid__contact h4,
.footer-grid__social h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.footer-grid__contact a {
    color: #e2e4e7;
    text-decoration: none;
    line-height: 1.6
}

.footer-grid__contact a:hover {
    color: #007BFF;
    text-decoration: underline;
}

.footer-grid__contact a:hover {
    text-decoration: underline;
}

/* Social Icons */
.footer-grid__social ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

.footer-grid__social img {
    width: 24px;
    height: 24px;
}

.footer-grid::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    transform: translateX(-50%);
}