* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;


}

h1,
h2,
h3 {
  color: #333;
}

/* #root {
  height: 100%;

} */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}